.footer {
    background-color: var(--secondary-bg-cl);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-container {
   @media screen and (min-width:768px) {
      display: flex;
      flex-wrap: wrap;
   }
}
.footer__block{
    @media screen and(max-width:1199px){
         margin-right: auto;
         margin-left: auto;
         display: block;
         text-align: center;
    }
}
.footer__address {
    font-style: inherit;
    font-size: 14px;
    line-height: 1.71;
    color: var(--pr-wht-color);
}
.footer__text{
    padding-top: 20px;
    padding-bottom: 10px;
}
.footer-list {
    padding-bottom: 60px;
}
.footer-list__nav {
    color: var(--pr-text-color);
    margin: 0;
    padding-bottom: 10px;
    display: inline-block;
    padding-left: 0;
}