ul,
p,
h1,
h2,
h3 
{
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}
body {
    font-family: var(--primary-font);
    background-color: var(--pr-bg-cl);
    letter-spacing: 0.03em;
    font-size: 14px;
    color: var(--pr-title-color);
}

.product-section {
     padding-top: 60px;
     padding-bottom: 60px;
     @media screen and (min-width:1200px) {
         padding-top: 90px;
         padding-bottom: 90px;
     }
}

.product-link {
    text-decoration: none;
    color: inherit;
    transition: color 250ms var(--cubik);

&:hover,
&:focus {
    color: var(--accent-color);
}
}
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: 480px){
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;
    }
     @media screen and (min-width: 768px) {
         max-width: 768px;
     }
      @media screen and (min-width: 1200px) {
          max-width: 1200px;
      }
}

