.header {
  border-bottom: 1px solid #ececec;
  
}
.header-nav {
  margin-left: auto;
  


  // align-items: center;
}
.header-container {
  display: inline-flex;
  align-items: center;
 ;
}
.header-container--left {
  // margin-left: auto;
}