.logo {
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    display: inline-block;
    margin-right: 93px;
    color: #000000;
}
.logo__name {
    color: var(--accent-color);
}
.logo__name--color {
    color: var(--pr-wht-color);

}