.logo {
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    display: inline-block;
    // margin-right: 93px;
    color: #000000;


    padding-top: 16px ;
    padding-bottom: 16px;

    };

.logo-footer{
     @media screen and(max-width:1199px) {
    margin-left: auto;
    margin-right: auto;}
}
.logo__name {
    color: var(--accent-color);
}
.logo__name--color {
    color: var(--pr-wht-color);

}