.menu-button{
    z-index: 3;
    outline: none;
     &:focus {
         fill: var(--accent-color);
          transition: fill 250ms var(--cubik);
     }
    @media screen and (max-width:767px) {
        display: inline-flex;
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        position: absolute;
        right: 20px;
        top: 20px;
        
    }
    @media screen and (min-width:768px){
        display: none;
    }

}
.menu-button .icon-menu{
    display: none;
}
.menu-button.is-open .icon-menu{
    display: block;
}
.menu-button.is-open .icon-cross{
    display: none;
}
.menu-container{
    
    @media screen and (max-width:767px){
display: none;
position:absolute;
top: 0;
left: 0;
max-height: 796px;
width: 100%;

z-index: 2;
background-color: var(--pr-wht-color);
&.is-open {
    display: block;
}
    }
    @media screen and (min-width:768px){
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}