.section-clients__title {
    font-weight: 700px;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: var(--pr-title-color);
    margin-top: 0;
    margin-bottom: 50px;
}
.constant-clients {
    flex-wrap: wrap;
    display: flex;
    margin: -15px;

@media screen and(min-width:768px) {
    display: inline-flex;
}
}
.constant-clients__item{
  @media screen and(max-width:767px) {
     width: calc((100% - 2 * 30px) / 2);
     margin: 15px;
  }
     @media screen and(min-width:768px) and (max-width:1199px){
         flex-basis: calc((100% - 30px * 3) / 3);
         &:nth-child(-n + 3) {
             margin-bottom: 30px;
         }
         &:not(:nth-child(3n + 3)){
             margin-right: 30px;
         }
     }
      @media screen and(min-width:1200px) {
        flex-basis: calc((100% - 30px * 6) / 6);
        &:not(:last-child) {
          margin-right: 30px;}
    }
}
.constant-clients__link {
    display: flex;
    @media screen and(max-width:767px) {
      justify-content: center;
      align-items: center;
      height: 92px;
    }
       
    border: 1px solid var(--icon-cl-pr);
    border-radius: 4px;
    fill: var(--icon-cl-pr);
    transition: fill 250ms var(--cubik), border 250ms var(--cubik);

    &:hover, &:focus{
        fill: var(--accent-color);
        border: 1px solid var(--accent-color);
    }
     @media screen and(max-width:767px){
    //   max-width: 210px;
        //  padding: 21px 83px;
     }
      @media screen and(min-width:768px) {
          max-width: 226px;
          padding: 21px 91px;
      }

      @media screen and(min-width:1200px) {
          max-width: 170px;
         padding: 20px 63px;
      }
}
.constant-clients__link--padding{
     @media screen and(max-width:767px) {
        //  padding: 21px 65px;
     }

     @media screen and(min-width:768px) {
         padding: 21px 73px;
     }
     @media screen and(min-width:1200px) {
        padding: 20px 45px;
     }}