:root {
    --pr-text-color: #757575;
    --pr-wht-color: #ffffff;
    --pr-title-color: #212121;
    --accent-color: #2196f3;
    --secondary-bg-cl: #2f303a;
    --pr-bg-cl: #ffffff;
    --icon-bg-cl: #f5f4fa;
    --icon-cl-pr: #afb1b8;

    --primary-font: Roboto, sans-serif;

    --cubik: cubic-bezier(0.4, 0, 0.2, 1);
}